<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Facebook</title>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap}"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/base.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css}">
	<script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>

</head>

<body>

	<div class="app">
		<div class="app-grid">
			<header class="header">
				<div class="header-grid">
					<div class="header-left">
						<div class="header-left__logo">
							<i class="fab fa-foursquare header-left__icon-logo"></i>
						</div>
						<div class="header-left__search">
							<div class="header-left__search-icon">
								<i class="fal fa-search"></i>
							</div>
							<input type="text" id="search-input"
								class="header-left__search-input" placeholder="Tìm kiếm bạn bè">

						</div>
					</div>
					<ul class="header-right">
						<li class="header-right__item"><a aria-current="page"
							class="active" href="/"><svg stroke="currentColor"
									fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
									height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M946.5 505L534.6 93.4a31.93 31.93 0 0 0-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3 0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8 24.9-25 24.9-65.5-.1-90.5z">
									</path>
								</svg> </a></li>
						<li class="header-right__item"><svg stroke="currentColor"
								fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
								height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<g>
									<path fill="none" d="M0 0h24v24H0z"></path>
									<path fill-rule="nonzero"
									d="M7.764 19.225c.59-.26 1.25-.309 1.868-.139.77.21 1.565.316 2.368.314 4.585 0 8-3.287 8-7.7S16.585 4 12 4s-8 3.287-8 7.7c0 2.27.896 4.272 2.466 5.676a2.8 2.8 0 0 1 .942 2.006l.356-.157zM12 2c5.634 0 10 4.127 10 9.7 0 5.573-4.366 9.7-10 9.7a10.894 10.894 0 0 1-2.895-.384.8.8 0 0 0-.534.039l-1.984.876a.8.8 0 0 1-1.123-.707l-.055-1.78a.797.797 0 0 0-.268-.57C3.195 17.135 2 14.617 2 11.7 2 6.127 6.367 2 12 2zM5.995 14.537l2.937-4.66a1.5 1.5 0 0 1 2.17-.4l2.336 1.75a.6.6 0 0 0 .723 0l3.155-2.396c.421-.319.971.185.689.633l-2.937 4.66a1.5 1.5 0 0 1-2.17.4l-2.336-1.75a.6.6 0 0 0-.723 0l-3.155 2.395c-.421.319-.971-.185-.689-.633z">
									</path>
								</g>
							</svg></li>
						<li class="header-right__item"><i
							class="fas fa-bell header-right__item-notify"></i></li>
						<li class="header-right__item"><img
							th:src="@{'/img/'+${defaultAvatar}}" alt=""
							class="header-profile__img avt"></li>
					</ul>
				</div>
			</header>

			<div class="container">
				<div class="container-left__favorite">
					<ul class="favorite-list">
						<li class="favorite-item nav-wall"><img
							th:src="@{'/img/'+${defaultAvatar}}" alt=""
							class="avt favorite-item__img"> <span
							class="favorite-item__text full-name" th:text="${fullname}"></span>
						</li>
						<li class="favorite-item"><img
							th:src="@{/img/item-fav-1.png}" alt="" class="favorite-item__img">
							<span class="favorite-item__text">Bạn bè</span></li>
						<li class="favorite-item"><img
							th:src="@{/img/item-fav-3.png}" alt="" class="favorite-item__img">
							<span class="favorite-item__text">Messenger</span></li>
					</ul>
				</div>
				<div class="container-main">
					<div class="container-posts">
						<div class="posts__new-post">
							<img src="" alt=""
								class="avt posts__new-post-img nav-wall">
							<button type="button"  class="new-post-btn posts__new-post-btn" id="newPost" onclick="showBox()">
								Bạn đang nghĩ gì thế ?</button>
						</div>
						<ul class="post__action">
							<li class="post__action-item"><i
								class="fas fa-video post__action-item-icon"></i> <span
								class="post__action-item-text">Video trực tiếp</span></li>
							<li class="post__action-item uploadfile single"><i
								class="fas fa-images post__action-item-icon"></i> <span
								class="post__action-item-text">Ảnh/Video</span></li>
							<li class="post__action-item"><i
								class="far fa-laugh post__action-item-icon"></i> <span
								class="post__action-item-text">Cảm xúc/Hoạt động</span></li>
						</ul>
					</div>

					<div class="container-newsfeed-list">
						<div class="newsfeed">
							<div class="newsfeed__info">
								<div class="newsfeed__info-profile">
									<img class="header-profile__img avt"
										th:src="@{'/img/'+${defaultAvatar}}">
									<div class="newsfeed__info-profile-more">
										<span class="newsfeed__info-name checked"> Hưng Dương </span>
										<div class="newsfeed__info-time">
											10 phút trước <i class="fas fa-globe-europe"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="newsfeed__content">
								<p class="newsfeed__content-text">Hưng Dương vừa cập nhật
									ảnh đại diện của "CÔ ẤY"</p>
								<img src="img/user_1.jpg" alt="" class="newsfeed__content-img">
							</div>
							<div class="newsfeed__respond-react">
								<div class="newsfeed__respond-react-icon">
									<i class="far fa-heart"></i>
								</div>
								<span class="newsfeed__respond-react-total">1 lượt thích</span>
								<span class="newsfeed__respond-right">Bình luận</span>
							</div>
							<div class="newsfeed__comment">
								<div class="newsfeed__comment-user">
									<img th:src="@{'/img/'+${defaultAvatar}}" alt=""
										class="header-profile__img avt">
									<div class="newsfeed__comment-box">
										<input type="text" placeholder="Viết bình luận ..."
											class="newsfeed__comment-input">
										<div class="newsfeed__comment-box-right">
											<div class="newsfeed__comment-box-icon">
												<i class="fas fa-camera"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-right">

					<div class="container-right__connect">
						<div class="container-right__connect-head">
							<p class="container-right__connect-head-text">Người liên hệ</p>
							<div class="container-right__connect-head-more">
								<i class="fal fa-search"></i>
							</div>
						</div>
						<ul class="container-right__connect-list">
							<li class="container-right__connect-item">
								<div class="container-right__connect-item-avatar">
									<img th:src="@{/img/user_1.jpg}" alt=""
										class="container-right__connect-item-img">
								</div> <span class="container-right__connect-item-name">Nguyễn
									Lê Kim Ngân</span>
							</li>
							<li class="container-right__connect-item">
								<div class="container-right__connect-item-avatar">
									<img th:src="@{/img/user_2.jpg}" alt=""
										class="container-right__connect-item-img">
								</div> <span class="container-right__connect-item-name">Ngọc
									Nhã</span>
							</li>
							<li class="container-right__connect-item">
								<div class="container-right__connect-item-avatar">
									<img th:src="@{/img/user_3.jpg}" alt=""
										class="container-right__connect-item-img">
								</div> <span class="container-right__connect-item-name">Huệ
									Nguyễn</span>
							</li>
							<li class="container-right__connect-item">
								<div class="container-right__connect-item-avatar">
									<img th:src="@{/img/user_4.jpg}" alt=""
										class="container-right__connect-item-img">
								</div> <span class="container-right__connect-item-name">Ân Hữu</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="overplay" id = "overplay" style="display: none;">
				<div class="overplay-body">
					<div class="post-box">
						<div class="post-box__head">
							<h3 class="post-box__head-text">Tạo bài viết</h3>
							<span class="post-box__head-close" onclick="closeOverplay()"> <i
								class="fas fa-times"></i>
							</span>
						</div>
						<div class="post-box__main">
							<div class="post-box__info">
								<img th:src="@{'/img/'+${defaultAvatar}}" alt=""
									class="post-box__avatar">
								<div class="post-box__info-info">
									<p class="post-box__info-name">Hưng Dương</p>
								</div>
							</div>
							<div class="post-box__content">
								<textarea placeholder="Bạn đang nghĩ gì thế ?" oninput="checkSubmit()"
									class="post-box__content-textarea" id = "postContent"></textarea>

							</div>
							<div class="post-box__add">
								<div class="post-box__add-head">Thêm vào bài viết</div>
								<div class="post-box__add-more">
									<div class="post-box__add-icon">
										<input type="file" class="input-upload" hidden="hidden">
										<i style="color: #45bd62;" class="fas fa-images"></i>
									</div>
								</div>
							</div>
							<button class="post-box__btn btn-active" id = "postBtn" type = "submit">Đăng</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>