<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Messenger | Facebook</title>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap}"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/base.css}">
<link rel="stylesheet" th:href="@{/css/mess.css}">

<link rel="stylesheet"
	th:href="@{https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css}" />
<script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
</head>

<body>
	<audio id="myAudio">
		<source th:src="@{/mp3/messenger_ios.mp3}" type="audio/mpeg">
	</audio>
	<div class="app" th:object="${currentUser}" id="chatArea">
		<span th:text="${currentUser.user_id}" id="userId"
			style="display: none;"></span> <img
			th:src="@{'data:image/png;base64,'+${currentUser.profile}}"
			style="display: none;" id="senderProfile"></img> <span
			th:text="${currentUser.fullname}" id="userName"
			style="display: none;"></span>
		<div class="app-grid" style="z-index: 99;" >
			<div class="container" id="appContainer">
				<div class="container-left">
					<div class="container-left__head">
						<div class="container-left__head-top">
							<div class="container-left__head-top-title">Chat</div>
							<div class="container-left__head-top-group">
								<div class="container-left__head-group-btn">
									<i class="far fa-ellipsis-h"></i>
								</div>
								<div class="container-left__head-group-btn">
									<i class="fas fa-edit" onclick="toggleListNew()"></i>
									<ul class="header-left__search-history" id="listSearch">
										<li class="header-left__search-history-item"
											th:each="friend: ${friends}"
											th:id="'itemSearch'+${friend.Id}"
											th:onclick="|createGroup('${friend.Id}')|"><img
											th:src="@{'data:image/png;base64,'+${friend.profile}}" alt=""
											class="header-left__search-history-avt"> <span
											th:text="${friend.fullName}"></span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="container-left__head-search">
							<div class="container-left__search-box">
								<div class="container-left__search-box-icon">
									<i class="fal fa-search"></i>
								</div>
								<input type="text" class="container-left__search-box-input"
									placeholder="Tìm kiếm trên Messenger">
							</div>
						</div>
					</div>
					<div class="container-left__body">
						<ul class="container-left__list" id="groupList">
							<li class="container-left__item" th:each="group:${groups}"
								th:onclick="|displayMain('${group.groupId}')|"
								th:id="'group'+${group.groupId}">
								<div class="container-left__item-avatar">
									<img
										th:src="@{'data:image/png;base64,'+${group.withUser.profile}}"
										alt="" class="container-left__item-avatar-img"
										th:id="'withUserProfile'+${group.groupId}">
								</div>
								<div class="container-left__item-info">
									<div class="container-left__item-info-name"
										th:text="${group.withUser.fullname}"></div>
									<div class="container-left__item-info-sub">
										<div class="container-left__item-info-last-mess"
											th:text="${group.lastMessage}"
											th:id="'lastMessage'+${group.groupId}"></div>
										.
										<div class="container-left__item-info-time">
											<span th:text="${group.timeText}"
												th:id="'timeText'+${group.groupId}"> </span>
										</div>
									</div>
								</div>
								<div class="container-left__item-see">
									<div class="container-left__item-see-img">
										<img src="img/user_1.jpg" alt="">
									</div>
									<div class="container-left__item-see-icon">
										<i class="fas fa-check-circle"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div th:id="'mainContainer'+${group.groupId}" class="container-main"
					style="display: none;" th:each="group:${groups}">
					<div class="container-main__head">
						<div class="container-main__head-left">
							<div class="container-main__head-left-avt">
								<img class="container-main__head-left-avt-img avt-mess"
									th:src="@{'data:image/png;base64,'+${group.withUser.profile}}"
									alt="" th:id="'withUserProfileIn'+${group.groupId}">
							</div>
							<div class="container-main__head-left-info">
								<div class="container-main__head-left-info__name name-mess"
									th:text="${group.withUser.fullname}"
									th:id="'withUserNameIn'+${group.groupId}"></div>
								<div class="container-main__head-left-info-time online">
									<span th:text="${group.timeText}"></span>
								</div>
							</div>
						</div>
						<div class="container-main__head-right">
							<div class="container-main__head-right-btn more-info-btn">
								<i class="fas fa-phone"></i>
							</div>
							<div class="container-main__head-right-btn more-info-btn">
								<i class="fas fa-video"
									th:onclick="|videoCall('${group.withUser.user_id}','${group.user.user_id}','${group.groupId}')|"></i>
							</div>
							<div class="container-main__head-right-btn more-info-btn">
								<i class="fas fa-info-circle"></i>
							</div>
						</div>
					</div>
					<div class="container-main__body">
						<ul class="container-main__list"
							th:id="'containerBody'+${group.groupId}">
							<li class="container-main__item"
								th:id="'containerMainItem'+${message.messageId}"
								th:classappend="|${message.isAuthSend?'isUser':''} ${message.hasLike?'isReaction':''}|"
								th:each="message:${group.message}">
								<div class="container-main__item-avt">
									<img
										th:src="@{'data:image/png;base64,'+|${message.isAuthSend?group.user.profile:group.withUser.profile}|}"
										alt="" class="container-main__item-avt__img">
								</div>
								<div class="container-main__item-content">
									<div class="container-main__item-text"
										th:text="${message.message}"></div>
									<div class="container-main__item-reaction">
										<div class="container-main__item-reaction-icon">
											<i style="color: #ff504b" class="fas fa-heart"></i>
										</div>
									</div>
								</div>
								<div class="container-main__item-group">
									<div class="container-main__item-group-btn">
										<i style="color: #ff504b" class="fas fa-heart"
											th:id="${message.messageId}"
											th:onclick="|likeMessage(this.id,'${group.withUser.user_id}','${group.groupId}',${group.user.user_id})|"></i>
									</div>
									<div class="container-main__item-group-btn">
										<i class="fad fa-trash-alt" th:id="${message.messageId}"
											th:onclick="|deleteMessage(this.id,'${group.withUser.user_id}','${group.groupId}',${group.user.user_id})|"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="container-main__bottom">
						<div class="container-main__bottom-left">
							<div class="container-main__bottom-left-icon">
								<i class="fas fa-plus-circle"></i>
							</div>
							<div class="container-main__bottom-left-icon hide">
								<i class="fas fa-portrait" onclick="redirectCall()"></i>
							</div>
							<div class="container-main__bottom-left-icon hide">
								<i class="fas fa-air-freshener"></i>
							</div>
							<div class="container-main__bottom-left-icon hide">
								<i class="fas fa-gift"></i>
							</div>
						</div>
						<div class="container-main__bottom-search">
							<input type="text" placeholder="Aa"
								class="container-main__bottom-search-input"
								th:id="'messageText'+${group.groupId}"
								th:onkeypress="|checkIfEnter(event,'${group.withUser.user_id}','${group.groupId}',${group.user.user_id})|">
							<div class="container-main__bottom-search__icon">
								<i class="fas fa-smile-wink"></i>
								<div class="container-main__bottom-search__list-icon">
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf4da;"
											class="fas fa-smile-wink"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf5b4;"
											class="fas fa-sad-tear"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf586;"
											class="fas fa-grin-squint-tears"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf556;" class="fas fa-angry"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf579;"
											class="fas fa-flushed"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf5a4;"
											class="fas fa-meh-blank"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf5a5;"
											class="fas fa-meh-rolling-eyes"></i>
									</div>
									<div class="container-main__bottom-icon-item">
										<i style="color: #ffbc22;" alt="&#xf11a;" class="fas fa-meh"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="container-main__bottom-right">
							<div class="container-main__bottom-thumb-up">
								<i class="fas fa-thumbs-up"></i>
							</div>
							<div class="container-main__bottom-send">
								<i class="fas fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
		<div class="modal">
			<div class="modal__body">
				<!-- Phone form -->
				<div class="auth-phone" style="display: none;" id="modalCallSender">
					<div class="auth-phone__container">
						<div class="auth-phone__form">
							<img src="" alt="" class="auth-phone_avt" id="toUserProfile">
							<p class="auth-phone_name" id="toUserName"></p>
							<span>Đang gọi ...</span>
						</div>
					</div>
					<div class="auth-phone_end">
						<div class="auth-phone_inner">
							<i class="fas fa-phone-alt" onclick="cancelCall()"></i>
						</div>
					</div>
				</div>
				<!-- Login form -->
				<div class="auth-phone" style="display: none;"
					id="modalCallReceiver">
					<div class="auth-phone__container">
						<div class="auth-phone__form">
							<img src="" alt="" class="auth-phone_avt" id="fromUserProfile">
							<p class="auth-phone_name" id="fromUserName"></p>
							<span>Đang kết nối ...</span>
						</div>
					</div>
					<div class="auth-phone_footer">
						<div class="auth-phone_inner bg-green">
							<i class="fas fa-phone-alt" onclick="acceptCall()"></i>
						</div>
						<div class="auth-phone_inner">
							<i class="fas fa-tty" onclick="refuseCall()"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="position: relative; display: none;" id="callArea">
		<div style="position: relative;">
			<video autoplay id="remoteVideo" style="object-fit: contain;margin: auto;">
				<source src="" type="video/mp4">
			</video>
		</div>
		<div style="position: absolute; top: 0; right: 0; width: 20%;">
			<video style="width: 100%; height: 30%;" autoplay id="localVideo"
				muted>
				<source src="" type="video/mp4">
			</video>
		</div>
		<div class="auth-phone_footer"
			style="width: 50%; position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">
			<div class="auth-phone_inner bg-green">
				<i class="fa-solid fa-video" onclick="stopCamera(this)"></i>
			</div>
			<div class="auth-phone_inner bg-green">
				<i class="fa-solid fa-volume-high" onclick="stopAudio(this)"></i>
			</div>
			<div class="auth-phone_inner">
				<i class="fas fa-tty" id="hangUpButton" onclick="hangUp()"></i>
			</div>
		</div>
	</div>

	<script th:src="@{/js/mess.js}"></script>
</body>

</html>