<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng kí</title>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap}"
	rel="stylesheet"/>
<link rel="stylesheet"
	th:href="@{fonts/fontawesome-free-5.15.3-web/css/all.min.css}"/>
<link rel="stylesheet" th:href="@{css/base.css}"/>
<link rel="stylesheet" th:href="@{css/style.css}"/>
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{js/register.js}"> </script>
<script th:src="@{js/main.js}"></script>
<script th:src="@{js/Validator.js}"></script>

</head>
<body>
	<div class="container">
		<div class="banner">
			<img src="img/bg.jpg" alt="" class="banner-img">
			<section class="form-section">
				<div class="form-section__header">
					<h2 class="form-section__heading">Đăng ký thành viên</h2>
					<span class="form-section__sub-heading"> Fetel giúp bạn kết
						nối và chia sẻ với mọi người trong khoa Điện tử - Viễn thông. </span>
						<span class="form-section__sub-heading" th:text="${warning}"></span>
				</div>
				<div class="form-section__body">
					<form method="post"
						onsubmit="return verifyPassword()" id="form-register"
						class="form-section__form">
						<div class="form-section__form-group">
							<label for="fullName" class="form-section__form-label">
								Họ và tên </label>
							<div class="form-section__form-input-wrap">
								<input id="fullName" type="text" th:value="${fullName}"
									class="form-section__form-input" name="fullName"
									placeholder="Nguyễn Văn A" required pattern="[a-zA-Z àáãạảăắằẳẵặâấầẩẫậèéẹẻẽêềếểễệđìíĩỉịòóõọỏôốồổỗộơớờởỡợùúũụủưứừửữựỳỵỷỹýÀÁÃẠẢĂẮẰẲẴẶÂẤẦẨẪẬÈÉẸẺẼÊỀẾỂỄỆĐÌÍĨỈỊÒÓÕỌỎÔỐỒỔỖỘƠỚỜỞỠỢÙÚŨỤỦƯỨỪỬỮỰỲỴỶỸÝ]{6,100}">
								<span class="form-section__form-error-icon"> <svg
										class="Input_icon__1WC0H" width="16" height="16"
										viewBox="0 0 16 16">
										<path d="M0 0h16v16H0V0z" fill="none">
                                </path>
                                <path
											d="M15.2 13.1L8.6 1.6c-.2-.4-.9-.4-1.2 0L.8 13.1c-.1.2-.1.5 0 .7.1.2.3.3.6.3h13.3c.2 0 .5-.1.6-.3.1-.2.1-.5-.1-.7zM8.7 12H7.3v-1.3h1.3V12zm0-2.7H7.3v-4h1.3v4z"
											fill="#f33a58">
                                </path></svg>
								</span>
							</div>
							<div><span class="form-section__form-message"> Vui lòng nhập
								trường này </span></div>
						</div>
						<div class="form-section__form-group">
							<label for="email" class="form-section__form-label">
								Email SV </label>
							<div class="form-section__form-input-wrap">
								<input id="email" name="email" class="form-section__form-input"
									type="text" placeholder="MSSV@student.hcmus.edu.vn" required
									pattern=".+@student\.hcmus.edu.vn"> <span
									class="form-section__form-error-icon"> <svg
										class="Input_icon__1WC0H" width="16" height="16"
										viewBox="0 0 16 16">
										<path d="M0 0h16v16H0V0z" fill="none"></path>
                                <path
											d="M15.2 13.1L8.6 1.6c-.2-.4-.9-.4-1.2 0L.8 13.1c-.1.2-.1.5 0 .7.1.2.3.3.6.3h13.3c.2 0 .5-.1.6-.3.1-.2.1-.5-.1-.7zM8.7 12H7.3v-1.3h1.3V12zm0-2.7H7.3v-4h1.3v4z"
											fill="#f33a58">
                                </path></svg>
								</span>
							</div>
							<span class="form-section__form-message"> Vui lòng nhập
								trường này </span>
						</div>
						<div class="form-section__form-group">
							<label for="password" class="form-section__form-label">
								Mật khẩu </label>
							<div class="form-section__form-input-wrap">
								<input id="password" class="form-section__form-input"
									name="password" type="password" placeholder="Mật khẩu của bạn"
									required pattern="[0-9a-zA-Z]{4,16}" > <span
									class="form-section__form-group-icon hidden"
									onclick="hiddenPassword()"> <i class="fas fa-eye"></i> <i
									class="fas fa-eye-slash"></i>
								</span>
							</div>
							<span class="form-section__form-message"> Vui lòng nhập
								trường này </span>
							<ul class="form-section__form-checkList hidden">
								<li class="form-section__form-checkItem"><span
									class="form-section__form-checkItem-icon"> <i
										class="fas fa-times-circle"></i> <i
										class="fas fa-check-circle"></i>
								</span> Sử dụng ít nhất 8 ký tự</li>
								<li class="form-section__form-checkItem"><span
									class="form-section__form-checkItem-icon"> <i
										class="fas fa-times-circle"></i> <i
										class="fas fa-check-circle"></i>
								</span> Bao gồm ít nhất 1 chữ cái</li>
								<li class="form-section__form-checkItem"><span
									class="form-section__form-checkItem-icon"> <i
										class="fas fa-times-circle"></i> <i
										class="fas fa-check-circle"></i>
								</span> Sử dụng ít nhất một số hoặc một ký tự đặc biệt</li>
							</ul>
						</div>
						<div class="form-section__form-group">
							<label for="password-confirmation"
								class="form-section__form-label"> Nhập lại mật khẩu </label>
							<div class="form-section__form-input-wrap">
								<input id="password-confirmation"
									class="form-section__form-input" name="password-confirmation"
									type="password" placeholder="Nhập lại mật khẩu" required>
								<span class="form-section__form-group-icon hidden"
									onclick="hiddenConPassword()"> <i class="fas fa-eye"></i>
									<i class="fas fa-eye-slash"></i>
								</span>
							</div>
							<span class="form-section__form-message"> Vui lòng nhập
								trường này </span>
						</div>
						<span id="message" style="color: red"> </span> <br> <br>
						<div class="form-section__form-group">
							<label for="gender" class="form-section__form-label">
								Giới tính </label>
							<div class="form-section__form-input-wrap mt-1">
								<input type="radio" name="gender" value="male" required>
								<label for="" class="form-section__form-label"> Nam </label>
							</div>
							<div class="form-section__form-input-wrap mt-1">
								<input type="radio" name="gender" value="female"> <label
									for="" class="form-section__form-label"> Nữ </label>
							</div>
							<div class="form-section__form-input-wrap mt-1">
								<input type="radio" name="gender" value="orther"> <label
									for="" class="form-section__form-label"> Khác </label>
							</div>
							<span class="form-section__form-message"> Vui lòng nhập
								trường này </span>
						</div>
						<div class="form-section__form-group">
							<button class="form-section__form-submit" type="submit">Đăng
								ký</button>
						</div>
					</form>
				</div>
				<div class="form-section__footer">
					<span class="form-section__footer-direction"> Bạn đã có tài
						khoản ? <a href="/SocialNetwork/login"
						class="form-section__footer-link link-login"> Đăng nhập </a>
					</span>
				</div>

			</section>
		</div>
	</div>

</body>
</html>