:root {
    --primary-color: #1877f2;
    --bg-color: #f0f2f5;
    --text-color: #1c1e21;
    --white-color: #fff;
    --border-color: #dddfe2;
    --placeholder-color: #9e949c;
    --green-color: #42b72a;
    --gray-color: #75777b;
    --header-height: 56px;
    --hover-item: rgb(224, 223, 223);
    --rgba-black: rgba(0, 0, 0, 0.1);
	--border-color: #eaeaea;
	--gray-light-color: #4e555d;
	--white-color: #fff;
	--blue-dark-color: #3a06cc;
	--text-color: #333;
}
* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}


html {
    font-size: 62.5%;
}
  
body {
    font-family: "Roboto", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0px;
}