.header {
	height: 7%;
	width: 100%;
	background-color: #1c1c1c;
	float: left;
	position:fixed;
	z-index: 10;
}

.header-left {
	width: 20%;
	height: 100%;
	color: #d3d3d3;
	float: left;
}

.header-left-name {
	font-size: 105%;
	text-align: center;
}

.header-right {
	float: left;
	height: 100%;
	width: 80%;
}


.header-right-icon {
	float:right;
	height: 100%;
	width: 52.75px;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	color: #c6e2ff;
	display: flex;
}

.header-right-logout {
	float: right;
	height: 100%;
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-right-logout-icon {
	height: 100%;
	width: 20%;
	float: left;
	font-size: 10px;
	color: #c6e2ff;
	display: flex;
	justify-content: center;
	align-items: center;
}
 
 .header-right-logout-username {
	height: 100%;
	width: 60%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #c6e2ff;
	font-size: 20px;
 }