<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fetel</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
	<link rel="stylesheet" href="/assets/css/base.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
	<div class="app">
		<header class="header">
			<div class="header-grid">
				<div class="header-left">
					<div class="header-left__logo">
						<i class="fab fa-facebook header-left__icon-logo"></i>
					</div>
					<div class="header-left__search">
						<div class="header-left__search-icon">
							<i class="fal fa-search"></i>
						</div>
						<input type="text" id="search-input" class="header-left__search-input"
							placeholder="Tìm kiếm bạn bè">
					</div>
				</div>
				<ul class="header-right">
					<li class="header-right__item">
						<a href="/"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
								viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M946.5 505L534.6 93.4a31.93 31.93 0 0 0-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3 0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8 24.9-25 24.9-65.5-.1-90.5z">
								</path>
							</svg>
						</a>
					</li>
					<li class="header-right__item">
						<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
							width="1em" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path fill="none" d="M0 0h24v24H0z"></path>
								<path fill-rule="nonzero"
									d="M7.764 19.225c.59-.26 1.25-.309 1.868-.139.77.21 1.565.316 2.368.314 4.585 0 8-3.287 8-7.7S16.585 4 12 4s-8 3.287-8 7.7c0 2.27.896 4.272 2.466 5.676a2.8 2.8 0 0 1 .942 2.006l.356-.157zM12 2c5.634 0 10 4.127 10 9.7 0 5.573-4.366 9.7-10 9.7a10.894 10.894 0 0 1-2.895-.384.8.8 0 0 0-.534.039l-1.984.876a.8.8 0 0 1-1.123-.707l-.055-1.78a.797.797 0 0 0-.268-.57C3.195 17.135 2 14.617 2 11.7 2 6.127 6.367 2 12 2zM5.995 14.537l2.937-4.66a1.5 1.5 0 0 1 2.17-.4l2.336 1.75a.6.6 0 0 0 .723 0l3.155-2.396c.421-.319.971.185.689.633l-2.937 4.66a1.5 1.5 0 0 1-2.17.4l-2.336-1.75a.6.6 0 0 0-.723 0l-3.155 2.395c-.421.319-.971-.185-.689-.633z">
								</path>
							</g>
						</svg>
					</li>
					<li class="header-right__item">
						<i class="fas fa-bell header-right__item-notify"></i>
					</li>
					<li class="header-right__profile">
						<img src="/assets/img/profile.jpg" alt="" class="header-profile__img avt">
					</li>
				</ul>
			</div>
		</header>
		<section class="container">
			<section class="container-main">
				<div class="container-posts">
					<div class="posts__new-post">
						<img src="/assets/img/anh.jpg" alt="" class="avt posts__new-post-img nav-wall">
						<button class="new-post-btn posts__new-post-btn">
							Bạn đang nghĩ gì thế ?
						</button>
					</div>
					<ul class="post__action">
						<li class="post__action-item">
							<i class="fas fa-video post__action-item-icon"></i>
							<span class="post__action-item-text">Video trực tiếp</span>
						</li>
						<li class="post__action-item uploadfile single">
							<i class="fas fa-images post__action-item-icon"></i>
							<span class="post__action-item-text">Ảnh/Video</span>
						</li>
						<li class="post__action-item">
							<i class="far fa-laugh post__action-item-icon"></i>
							<span class="post__action-item-text">Cảm xúc/Hoạt động</span>
						</li>
					</ul>
				</div>
			</section>
		</section>
	</div>
</body>

</html>